:root{
    --imagem-fundo: url("./imgs/plano_de_fundo_conversas.jpg")
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    
}
.header{
    background-color: #075E54;
    height: 10vh;
    width: 100%;
}
.container{
    background-color: #ECE5DD;
    height: 90vh;
}
.navegacao{
    background-color: #dad6d3;
    height: 8vh;
}
.conteudo{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
}
.contatos{
    background-color: #f3f0ed;
    height: 100%;
    width: 30%;
}
.conversas{
    /* background-image: var(--imagem-fundo);
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    height: 100%;
    width: 80%;
   
}
/* .footer{
    background-color: #dad6d3;
    height: 5vh;
    margin-top: 7vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conversas input{
    border: none;
    width: 40vw;
    height: 3vh;
    padding-left: 2vw;
    
} */

.cards{
    width: 100%;
    height: 10vh;

    border-bottom:   solid rgb(187, 185, 185);

}
